.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.form h2 {
  color: var(--cor-azul);
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  margin-bottom: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.inputContainer label {
  color: var(--cor-azul);
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.inputContainer input { 
  border-bottom: 1px solid var(--cor-azul);
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.123);
  border-radius: 0 10px 10px 10px;
  width: 100%;
  height: 50%;
  padding: 0.5rem;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  gap: 1.5rem;
}

.buttonContainer button {
  background-color: var(--cor-azul);
  color: white;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  padding: 0.5rem;
  width: 30%;
  height: 100%;
  gap: 1rem;
  text-align: center;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.123);
}

.buttonContainer button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.123);
}